
.second {
  background-color:#00adf2;
  min-height:620px;
  .line {
    background-color:$text-white;
  }
  button {
    transition: background-color 0.5s linear, color 0.5s linear;
    background-color:transparent;
    border: 2px solid $text-white;
    &:hover {
    background-color:$text-white;
    color:#00adf2;
    }
  }
}

.second-images {
  position: relative;
  top: 0;
  left: 0;
  .s-img1 {
    max-width:30%;
    position: absolute;
    top: 91px;
    left: 291px;
  }
  .s-img2 {
    max-width:80%;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 991px)  {
  .s-img1 {
    display:none;
  }
}
