
.second {
  animation: 2s ease-out 0s 1 slideInFromBottom;
  background-color:$strv-blue;
  min-height:$min-height;
  .line {
    background-color:$text-white;
  }
  button {
    transition: background-color 0.5s linear, color 0.5s linear;
    background-color:transparent;
    border: 2px solid $text-white;
    &:hover {
    background-color:$text-white;
    color:#00adf2;
    }
  }
}

.second-images {
  position: relative;
  top: 0;
  left: 0;
  .s-img1 {
    max-width:30%;
    position: absolute;
    top: 91px;
    left: 291px;
    @media screen and (max-width: $break-md)  {
      display:none;
    }
  }
  .s-img2 {
    max-width:80%;
    position: relative;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: $break-md)  {
    order:-1;
    padding:2em 0;
  }
}

.third {
  background-color:#ffffff;
}
.reference {
    padding: 8em;
    display: flex;
    flex-flow: column;
    align-items: center;
  img {
    max-width:100px;
    border-radius:50%;
    border:1px solid #ccc;
    margin:10px auto;
  }
  q {
    display:block;
    font-size:1.5em;
    font-family:$main-font;
    color:#565656;
    font-style: italic;
    text-align: center;
    padding:10px 0;
  }
  .author {
    color:#000000;
    font-weight:bold;
  }
  .company {
    color:#cccccc;
  }
  @media screen and (max-width: $break-md)  {
    padding:2em;
  }
}

.fourth {
  background-color:#fda172;
}

.ref2 {
    padding: 8em;
    display:table-cell;
  .fourth-content {
    text-align:center
  }
  img {
    max-width:100px;
    border-radius:50%;
    border:1px solid #ccc;
    margin:10px auto;
  }
  q {
    display:block;
    font-size:1.5em;
    font-family:$main-font;
    color:#565656;
    font-style: italic;
    text-align: center;
    padding:10px 0;
  }
  .author {
    color:#000000;
    font-weight:bold;
  }
  .company {
    color:#cccccc;
  }
  @media screen and (max-width: $break-md)  {
    padding:2em;
  }
}

.table {
  display:table;
  margin:0;
}

.table-cell {
  display:table-cell;
  @media screen and (max-width: $break-md)  {
    display:block;
  }
}

.fifth {
  background-color:$strv-blue;
  min-height:$min-height;
  img {
    max-width:80%;
  }
  .info-width {
    width:50%;
  }
  .talign-right {
    text-align:right;
  }
  .height100 {
    min-height:$min-height;
  }
  .valign-middle {
    vertical-align: middle;
  }
}
