$main-font: 'Roboto Condensed', sans-serif;
$text-white: #ffffff;
$strv-red: #ef0d33;
$strv-blue: #00adf2;
$min-height:620px;
/* Widths of media queries */
$break-sm: 320px;
$break-md: 991px;
$break-lg: 1200px;
